{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        <h1>Events</h1>
        <a href="{{ path('event_new') }}">Add new</a>
    </div>
    {% if not items is empty %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Start date</th>
                    <th>End date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.startDate | date }}</td>
                        <td>{{ item.endDate | date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% include('noItems.html.twig') %}
    {% endif %}
{% endblock %}