.login-page::before {
  background: none;
}

.participant-activate {
  .list-group-item {
    background-color: transparent;
  }
}

.photo {
  max-width: 300px;
  max-height: 300px;

  .img-thumbnail {
    max-height: 300px;
  }
}

#person_participant_filter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}