<h3>Привіт, друже!</h3>
<p>
    Твоя реєстрація на Kreative Hackathon від eKreative пройшла успішно, і ми вже повним ходом готуємося до цієї події:)
</p>
<p>
    Трохи деталей про хакатон.
</p>
<br>
<p>
    19 травня :
</p>
<p>
<ul style="Margin:0; padding:0;">
    <li style="Margin:0 0 1em; list-style:disc inside; mso-special-format:bullet;">09:00 Початок реєстрації</li>
    <li style="Margin:0 0 1em; list-style:disc inside; mso-special-format:bullet;">10:30 Офіційне відкриття</li>
    <li style="Margin:0 0 1em; list-style:disc inside; mso-special-format:bullet;">11:00 Початок хакатону</li>
    <li style="Margin:0 0 1em; list-style:disc inside; mso-special-format:bullet;">14:00 Обід</li>
    <li style="Margin:0 0 1em; list-style:disc inside; mso-special-format:bullet;">20:00 Вечеря</li>
</ul>
</p>
<br>
<p>20 травня</p>
<p>
<ul style="Margin:0; padding:0;">
    <li style="Margin:0 0 1em; list-style:disc inside; mso-special-format:bullet;">09:00 Сніданок</li>
    <li style="Margin:0 0 1em; list-style:disc inside; mso-special-format:bullet;">11:00 Презентаціїя проектів</li>
    <li style="Margin:0 0 1em; list-style:disc inside; mso-special-format:bullet;">13:00 Нагородження переможців</li>
</ul>
</p>
<br>
<p>
    Тобі потрібно при собі мати ноутбук або ПК, на якому ти зможеш працювати. Монітори, мишку та клавіатуру ми зможемо
    надати.
    Знаходимось ми за адресою : м. Черкаси, вул. Святомакаріївська 44
</p>
<p>
    Додатково просимо тебе вказати технології які плануєш використовувать на хакатоні :
    https://goo.gl/forms/S626R6oLttKIX0PA2
</p>
<p>
    Ми вже чекаємо на зустріч з тобою!
</p>
<p>
    Приходь-створюй-розвивайся!
</p>
<br>
<p>
    Важливо! QR-код запрошення, який потрібно буде показати під час реєстрації на хакатон.
</p>
<img src="{{ qr_url }}" alt="Activation qr code">