<h3>Привіт!</h3>
<p>
    Вітаємо тебе з призовим місцем. Як і домовлялись зараз друкуємо нові сертифікати для тебе та твоєї команди:)
</p>
<p>
    Нам на це потрібен деякий час:)  Але наступного тижня вони будуть готові і ми з тобою зв'яжемось, щоб тобі його передати.
</p>
<p>
    Очікуй дзвінка ;)
</p>
