<h3>Привіт!</h3>
<p>Хакатон пройшов, а ми все ще згадуємо цей класно проведений час.</p>
<p>Сподіваємось ти також :)</p>
<p>Ми дуже вдячні тобі, що ти прийшов на хакатон і будемо раді бачити в наступному році</p>
<p>
    Як і обіцяли засилаємо форму для визначення призу глядацьких симпатій. Також будемо вдячні за твій відгук про
    хакатон в цілому : <a href="https://goo.gl/forms/TewX5CDChPPjN0jg2">https://goo.gl/forms/TewX5CDChPPjN0jg2</a>
</p>
<p>Дякую!</p>